.btn-white {
  background-color: white;
  border-radius: 4px;
  padding: 4px;
  margin: 5px 10px;
  opacity: 0;
  color: rgb(40,40,40);
  border: 2px solid lightgray; 
}

.card-white:hover .btn-white {
  transition: 1s;
  opacity: 1;
}

