.card-container {
  margin: 16px;
}

.card-white {
  width: 400px;
  padding: 16px;
  background-color: white;
  box-shadow: 0 0 16px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.card-image {
  height: 300px;
  background-size: cover;
}

.card-footer {
  display: flex;
  align-items: center;
}

.card-footer a {
  font-size: 24px;
}

.cards {
  display: flex;
}